/* Sidebar styling */
.sidebar {
  width: 100px;
  padding: 20px;
  height: 100vh;
  margin-top: 70px;
  background-color: rgb(122, 114, 114);
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
  z-index: 10; /* Ensure it stays on top */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the buttons */
  overflow: hidden;
}

/* Sidebar buttons */
.sidebar-button {
  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 1.8rem; /* Slightly larger icons */
  width: 100%; /* Buttons fill the width */
  text-align: center; /* Align text inside buttons */
  margin-bottom: 15px; /* Space between buttons */
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

.sidebar-button:hover {
  background-color: rgba(0, 0, 0, 0.3); 
  transform: translateX(5px); /* Slightly move button on hover */
  cursor: pointer;
  background-color: gray;
}


.sidebar-button:hover svg {
  color: green; /* green color for the icons on hover */
}


/* Sidebar hover effect for buttons */
.sidebar button:active {
  transform: translateX(2px); 
}

/* Icon size */
.sidebar-button svg {
  font-size: 2rem; /* Increase the icon size */
  margin-right: 10px; /* Space between icon and button */
}

/* Sidebar background blur effect */
.sidebar::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  filter: blur(50px);
  z-index: -1;
  animation: moveBlur 8s infinite alternate;
}

/* Animation for background blur */
@keyframes moveBlur {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50px, 50px);
  }
}

/* Styling for the content area (where main content will appear) */
.content {
  padding: 20px;
  flex-grow: 1;
  margin-left: 220px; /* Space for the sidebar */
}

/* For better spacing around buttons */
.sidebar button {
  margin-top: 30px;
  font-style: italic;
}

.sidebar-button.btn.btn-primary{
  color: white;
  background: gray;
  border-color: gray;
}



/* .... */

.sidebar-button .button-label {
  margin-left: 8px;
}

/* Tooltip Style */
.sidebar-button:hover::after {
  content: attr(title); /* Display the content of the title attribute */
  position: absolute;
  bottom: -25px; /* Position the tooltip below the icon */
  left: 50%;
  transform: translateX(-50%);
  /* background-color: rgba(0, 0, 0, 0.8); */  
  color: white;
  padding: 2px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 100;
}